.add-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.add-task h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

}

.add-task input{
    width: 500px;
    border-radius: 5px;
    padding: 10px;
}
/* CARD */
.chead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chead .task-inc{
    background-color: #f7e373;
    padding: 5px 10px;
    font-family: cursive;
    border-radius: 5px;

}
.chead .task-cmp{
    background-color: #adfa49;
    padding: 5px 10px;
    font-family: cursive;
    border-radius: 5px;

}

.card-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex: wrap;
}

.card-container .card{
    margin-left: 30px;
    width: 18rem;
}


/* filterContainer */
.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.filter-group{
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}